@model OtoAksesuarSatisWebAp.Models.Yorum
@{
    ViewBag.Title = "Create";
    Layout = "~/Areas/UyePanel/Views/_LayoutPage1.cshtml";
}
@section styles {
    <link href="~/Areas/UyePanel/Assets/CSS/EkleYorum.css" rel="stylesheet" />
}
<div class="pagetitle">
    <h2>Yorum Yaz</h2>
</div>

<div class="formContainer">
    @using (Html.BeginForm())
    {
        if (ViewBag.mesaj != null)
        {
            <label class="validationmesage">@ViewBag.mesaj</label>
        }


<div class="row">
    <label>Yorum</label>
    <br />
    <br />
    @Html.TextAreaFor(x => x.YorumMetni, new { @class = "textbox", rows = 4 })
    @Html.ValidationMessageFor(x => x.YorumMetni, "", new { @class = "validationmesage" })
</div>

        <div class="row">
            <button type="submit" class="formbutton">Yorum Ekle</button>
        </div>
    }
</div>

