
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/YoneticiPanel/Views/Shared/_LayoutPage1.cshtml";
}

<h2>HomePanel Index</h2>
<h2>Admin Paneli</h2>

@if (TempData["Mesaj"] != null)
{
    <div class="alert alert-success">
        @TempData["Mesaj"]
    </div>
}

@if (ViewBag.Urunler != null)
{
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Ürün Adı</th>
                <th>Fiyat</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var urun in (List<OtoAksesuarSatisWebAp.Models.Urun>)ViewBag.Urunler)
            {
                <tr>
                    <td>@urun.UrunAdi</td>
                    <td> @urun.Fiyat.ToString("₺#,0")  <!-- Burada fiyatı binlik ayırıcı ile ve kuruşları olmadan yazdırıyoruz --></td>
                </tr>
            }
        </tbody>
    </table>

    <form method="post" action="@Url.Action("UrunleriAktar", "HomePanel", new { area = "YoneticiPanel" })">
        <button type="submit" class="btn btn-success">XML Verilerini Aktar</button>
    </form>
}