@model OtoAksesuarSatisWebAp.Models.Marka
@{
    ViewBag.Title = "Create";
    Layout = "~/Areas/YoneticiPanel/Views/Shared/_LayoutPage1.cshtml";
}
@section styles
{
    <link href="~/Areas/YoneticiPanel/Assets/CSS/Marka.css" rel="stylesheet" />
}
<div class="pagetitle">
    <h2>Marka Ekle</h2>
</div>
<div class="formContainer">
    @using (Html.BeginForm())
    {
        if (ViewBag.mesaj != null)
        {
            <label class="validationmesage">@ViewBag.mesaj</label>
        }
        <div class="row">
            <label>Isim</label>
            @Html.EditorFor(x => x.MarkaAdi, new { htmlAttributes = new { @class = "textbox" } })
            @Html.ValidationMessageFor(x => x.MarkaAdi, "", new { @class = "validationmesage" })
        </div>
        <div class="row">
            <button type="submit" class="formbutton">Marka Ekle</button>
        </div>
    }
</div>
