@model List<OtoSatisWebApp.Models.AltBayii>


@{
    ViewBag.Title = "Index";
}
<h2>AltBayiler</h2>

<table class="table">
    <thead>
        <tr>
            <th>Bayi Adı</th>
            <th>Segment</th>
            <th>Son XML Güncelleme Tarihi</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var bayi in Model)
        {
            <tr>
                <td>@bayi.BayiAdi</td>
                <td>@bayi.Segment</td>
                <td>@bayi.SonXmlGuncellemeTarihi</td>
            </tr>
        }
    </tbody>
</table>

<h2>Index</h2>
