
@{
    ViewBag.Title = "ToplamSiparis";
    Layout = "~/Areas/UyePanel/Views/_LayoutPage1.cshtml";
}

<div style="text-align:center">
    <h3>Aktif Siparişler: @ViewBag.AktifSiparisSayisi</h3>
    <h3>Kaldırdığınız Siparişler: @ViewBag.SilinmisSiparisSayisi</h3>
</div>



