
@{
    ViewBag.Title = "ToplamSiparis";
    Layout = "~/Areas/UyePanel/Views/_LayoutPage1.cshtml";
}

<div style="text-align:center">
    <h3>Toplam Sipariş Sayınız: @ViewBag.SiparisSayisi</h3>
</div>



