body {
    background-color: #121212; 
    color: #E0E0E0; 
    font-family: Arial, sans-serif; 
    margin: 0;
    padding: 0;
}


h2, h3, h4 {
    color: #BB86FC; 
    text-align: center;
}


.sepet-detay {
    max-width: 1200px;
    margin: 30px auto;
    padding: 20px;
    background-color: #1E1E1E; 
    border-radius: 8px;
}


table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

table, th, td {
    border: 1px solid #333; 
}

th, td {
    padding: 15px;
    text-align: center;
}


th {
    background-color: #333; 
    color: #BB86FC; 
}


td {
    background-color: #1E1E1E;
}

form
{
    background-color: #1E1E1E;
    padding: 30px;
    border-radius: 8px;
    margin-top: 30px;
}


label {
    color: #E0E0E0; 
    font-size: 14px;
}

input[type="text"], input[type="number"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #333;
    background-color: #333;
    color: #E0E0E0;
    border-radius: 5px;
}

button {
    background-color: #BB86FC; 
    color: #121212; 
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

    button:hover {
        background-color: #3700B3; 
    }


.alert {
    background-color: #CF6679; 
    color: #E0E0E0;
    padding: 15px;
    margin-bottom: 20px;
    border-radius: 5px;
    text-align: center;
}


h4 {
    color: #BB86FC;
    font-size: 18px;
    text-align: center;
    margin-top: 30px;
}


hr {
    border: 0;
    border-top: 1px solid #333;
    margin-top: 20px;
    margin-bottom: 20px;
}


