
@{
    ViewBag.Title = "PaymentSuccess";
    Layout = "~/Views/Shared1/_LayoutPage1.cshtml";
}

<div style="text-align:center">
    <h1 style="color:hotpink">Ödeme Başarılı</h1>
    <div style="height:30px"></div>
    <a href="@Url.Action("Index","AnaSayfa")" class="gotoHome">Alışverişe Devam Et</a>
</div>

